<!doctype html>
<html lang="en">
    <head>
		<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"
    </head>
    <body>
	    <h1> Bienvenue sur l'outil de gestion de plannings {{ user.username }} </h1>

    <!-- </body> -->
    
    <!-- <form> -->
    <!-- <select name="Disponibles" size="1"> -->
    <!-- <option> {{ employe }} -->
    <!-- </option> -->
	<!-- </select> -->
    <!-- </form> -->
	
	</body>
    <a href="{{ url_for('editer') }}"> Editer le planning </a>
</html>