data/__pycache__/
control/__pycache__/
front_angular/src/python/control/__pycache__/
front_angular/src/python/data/__pycache__/

# compiled output
front_angular/dist
front_angular/tmp
front_angular/out-tsc
# Only exists if Bazel was run
front_angular/bazel-out

# dependencies
front_angular/node_modules

# profiling files
front_angular/chrome-profiler-events*.json
front_angular/speed-measure-plugin*.json

# IDEs and editors
front_angular/.idea
front_angular/.project
front_angular/.classpath
front_angular/.c9/
front_angular/*.launch
front_angular/.settings/
front_angular/*.sublime-workspace

# IDE - VSCode
front_angular/.vscode/*
!front_angular/.vscode/settings.json
!front_angular/.vscode/tasks.json
!front_angular/.vscode/launch.json
!front_angular/.vscode/extensions.json
front_angular/.history/*

# misc
front_angular/.sass-cache
front_angular/connect.lock
front_angular/coverage
front_angular/libpeerconnection.log
front_angular/npm-debug.log
front_angular/yarn-error.log
front_angular/testem.log
front_angular/typings

# System Files
front_angular/.DS_Store
front_angular/Thumbs.db
