<div class="row">
  <div *ngIf="ouvrier" class="column">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="title">Détails sur {{ouvrier.name_ouvrier}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <h3 matSubheader>Identifiant</h3>
          <mat-list-item> {{ouvrier.id_ouvrier}} </mat-list-item>
          <mat-divider></mat-divider>
          <h3 matSubheader>Nom</h3>
          <mat-list-item>
            <a matLine>
              <mat-form-field>
                <input matInput [(ngModel)]="ouvrier.name_ouvrier">
              </mat-form-field>
            </a>
            <button mat-icon-button (click)="save()">
              <mat-icon>done</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 matSubheader> Chantiers</h3>
          <mat-list-item *ngFor="let chantier of ouvrier.chantiers">
            <h3 matLine> {{chantier.name_chantier}} </h3>
            <p matLine> De : {{chantier.start}} </p>
            <p matLine> A : {{chantier.end}}</p>
            <p matLine> Adresse : {{chantier.adress}}</p>
            <button mat-icon-button (click)="deleteAttribution(chantier)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column" *ngIf="chantiers_dispos">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="title">Chantiers disponibles</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list>
          <mat-list-item *ngFor="let name of getNames()" (click)="selectChantier(name)">
            {{name}}
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="show" class="column">
    <mat-card *ngIf="nom_choisi" class="card">
      <mat-card-header>
        <mat-card-title class="title">Dates à {{nom_choisi}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list>
          <mat-list-item *ngFor="let chantier of chantiers_dispos[nom_choisi]" (click)="addAttribution(chantier)">
            <h3 matLine> {{chantier.name_chantier}} </h3>
            <p matLine> De : {{chantier.start}} </p>
            <p matLine> A : {{chantier.end}}</p>
            <p matLine> Adresse : {{chantier.adress}}</p>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
