<mat-nav-list>
  <a mat-list-item routerLink="/calendar" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Calendrier</span>
  </a>
  <a mat-list-item routerLink="/ouvriers" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Ouvriers</span>   
  </a>
  <a mat-list-item routerLink="/chantiers" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Chantiers</span>   
  </a>
</mat-nav-list>

