<!doctype html>
<html lang="en">
  <head>
		<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<title> Planning des chantiers </title>
		</head>
<body>
    <!-- AJOUTER UN CHANTIER --> 
	<h1>Indiquer le chantier à rajouter</h1> 
	<form action="/ouvrier" method="POST">
	<input type="text" name=" "> <button type="submit" >OK</button>
	</form>
    <!-- CHOIX PLANNING --> 
    <h1>Veuillez attribuer un chantier à chaque ouvrier.</h1>
    <form action="/ouvrier" method="POST">
    {% for noms_ouvriers in ouvriers : %}
    <h3> {{ noms_ouvriers }} </h3>
        {% for noms_chantiers in chantiers : %}
    	<input type="radio" name="{{noms_ouvriers}}" value="{{noms_chantiers}}"> {{ noms_chantiers }}
        {% endfor %}
    {% endfor %} 
    <button type="submit">OK</button>     
    </form>
    <br>
    <a href="/affichage_planning"> <input type="button" value="Cliquez pour afficher le planning"></a>
    <a href="/reset"> <input type="button" value="Reset"></a>
</body>
</html>