/* You can add global styles to this file, and also import other style files */

@import '~@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}