<h1> Voici la liste des ouvriers </h1>
<div>
	<input #name placeholder="Entrez un nom à ajouter"/>
    <button (click)='addOuvrier(name.value) ; name.value ="" '> Ajouter </button>
</div>

<h2>Nos ouvriers</h2>  
<button (click)='ngOnInit()'> Mettre à jour la liste </button>
<ul class="ouvrierList">
  <li *ngFor="let ouvrier of ouvrierList" 
  	[class.selected]="ouvrier === selectedOuvrier"
  	(click)="onSelect(ouvrier)">
    <span class="badge"> o </span> {{ouvrier.ouvrier}}
  </li>
</ul>

<app-ouvriers-detail [ouvrier]="selectedOuvrier"></app-ouvriers-detail>

