<h2>Nos ouvriers</h2>

<div>
  <label>Ajouter un ouvrier:
    <input #ouvrierName placeholder="Entrez un nom à ajouter"/>
  </label>
  <button (click)="add(ouvrierName.value); ouvrierName.value=''">
    OK
  </button>
  <button (click)="ngOnInit()">
    Mettre à jour
  </button>
</div>

<ul class="ouvriers">
  <li *ngFor="let ouvrier of ouvriers">
    <a routerLink="/detail/{{ouvrier.id}}">
      <span class="badge">{{ouvrier.id}}</span> {{ouvrier.name}}
    </a>
    <button class="delete" title="delete ouvrier"
      (click)="delete(ouvrier)">x</button>
  </li>
</ul>

<app-messages></app-messages>
